soap_standalone/src/wsdl/localhost_8080/LoyaltyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://itmo.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://itmo.ru/" name="LoyaltyService">
<types>
<xsd:schema>
<xsd:import namespace="http://itmo.ru/" schemaLocation="http://localhost:8080/LoyaltyService?xsd=1" />
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll" />
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse" />
</message>
<message name="deleteLoyalty">
<part name="parameters" element="tns:deleteLoyalty" />
</message>
<message name="deleteLoyaltyResponse">
<part name="parameters" element="tns:deleteLoyaltyResponse" />
</message>
<message name="createLoyalty">
<part name="parameters" element="tns:createLoyalty" />
</message>
<message name="createLoyaltyResponse">
<part name="parameters" element="tns:createLoyaltyResponse" />
</message>
<message name="updateLoyalty">
<part name="parameters" element="tns:updateLoyalty" />
</message>
<message name="updateLoyaltyResponse">
<part name="parameters" element="tns:updateLoyaltyResponse" />
</message>
<portType name="LoyaltyService">
<operation name="getAll">
<input wsam:Action="http://itmo.ru/LoyaltyService/getAllRequest" message="tns:getAll" />
<output wsam:Action="http://itmo.ru/LoyaltyService/getAllResponse" message="tns:getAllResponse" />
</operation>
<operation name="deleteLoyalty">
<input wsam:Action="http://itmo.ru/LoyaltyService/deleteLoyaltyRequest" message="tns:deleteLoyalty" />
<output wsam:Action="http://itmo.ru/LoyaltyService/deleteLoyaltyResponse" message="tns:deleteLoyaltyResponse" />
</operation>
<operation name="createLoyalty">
<input wsam:Action="http://itmo.ru/LoyaltyService/createLoyaltyRequest" message="tns:createLoyalty" />
<output wsam:Action="http://itmo.ru/LoyaltyService/createLoyaltyResponse" message="tns:createLoyaltyResponse" />
</operation>
<operation name="updateLoyalty">
<input wsam:Action="http://itmo.ru/LoyaltyService/updateLoyaltyRequest" message="tns:updateLoyalty" />
<output wsam:Action="http://itmo.ru/LoyaltyService/updateLoyaltyResponse" message="tns:updateLoyaltyResponse" />
</operation>
</portType>
<binding name="LoyaltyServicePortBinding" type="tns:LoyaltyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAll">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteLoyalty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createLoyalty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateLoyalty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="LoyaltyService">
<port name="LoyaltyServicePort" binding="tns:LoyaltyServicePortBinding">
<soap:address location="http://localhost:8080/LoyaltyService" />
</port>
</service>
</definitions>